---
- name: Playbook for OpenShift Virt
  hosts: localhost
  collections:
    - rlopez.ocp_virt
  pre_tasks:
    
  - name: Install collections from requirements.yml (EE)
    vars:
    __collections_path: "{{ lookup('config', 'COLLECTIONS_PATHS')[0] }}"
    command: >-
      ansible-galaxy collection install
      -r requirements.yml
      -p "{{ __collections_path | quote }}"
      --force-with-deps

  roles:
#  - {role: rlopez.ocp_virt.validation}
  - {role: rlopez.ocp_virt.providers}
  - {role: rlopez.ocp_virt.virt_plan}
