- name: Deploy Provider resource
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: forklift.konveyor.io/v1beta1
      kind: Provider
      metadata:
        name: vsphere
        namespace: vm
      spec:
        secret:
          name: vsphere-creds
          namespace: vm
        settings:
          sdkEndpoint: vcenter
          vddkInitImage: 'quay.io/wmarx/vddk:latest'
        type: vsphere
        url: 'https://vcsnsx-vc.infra.demo.redhat.com/sdk' 

