- name: Deploy Provider resource
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: forklift.konveyor.io/v1beta1
      kind: Provider
      metadata:
        name: vsphere
        namespace: vm
      spec:
        secret:
          name: vsphere-tfslb
          namespace: vm
        settings:
          vddkInitImage: 'image-registry.openshift-image-registry.svc:5000/openshift/vddk:latest'
        type: vsphere
        url: 'https://vcsnsx-vc.infra.demo.redhatcom/sdk'

